.input-container {
    display: flex;
    gap: 30px;
}

p {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration-line: line-through;
    width: 100%;
}

.to-do-container {
    display: flex;
    gap: 20px;
}

.to-do-container button {
    background-color: red;
}