*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body{
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
  background-color: rgb(27, 27, 27);
}

.container{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
  border: 1px solid red;
  gap: 30px;
}

h1{
  color: #ffffff;
}


@media screen and (max-width: 600px) {
  .container{
    width: 100%;
  }
}